<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FolderThumbnailExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FolderThumbnailExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FolderThumbnailExplorer.Properties.Settings>
            <setting name="Locale" serializeAs="String">
                <value>zh-CN</value>
            </setting>
        </FolderThumbnailExplorer.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <FolderThumbnailExplorer.Properties.Settings>
            <setting name="PV_Width" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="PV_Height" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="PV_Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PV_Top" serializeAs="String">
                <value>0</value>
            </setting>
        </FolderThumbnailExplorer.Properties.Settings>
    </userSettings>
</configuration>